body {
    font-family: Verdana;
    color: #ffffff;
    font-size: 12px;
    line-height: 16px;

    background-color: #282a2e;

    background-image: radial-gradient(#3b3d42 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -19px -19px;
  }



  p {
    color: #ffffff;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    
    
  }

.starterline {
  display: flex;
  align-items: center;
  
  padding: 6px 16px;
  margin-bottom: 20px;
  background-color: #232529;
  border-radius: 8px;
  box-shadow: inset 2px 2px rgba(0, 0, 0, 0.30);
}

